<div class="container">
  <div class="titleWrapper">
    <span class="titleNumber">1</span>
    <h3 class="title">Особисті дані</h3>
  </div>

  <form class="userDataForm">
    <div class="userDataWrapper">
      <input type="text" class="input" placeholder="*Ваше ім’я">
      <input type="text" class="input" placeholder="*Ваше прізвище">
    </div>
    <input type="number" class="input" placeholder="*Ваш номер телефону">
    <input type="text" class="input" placeholder="*Ваш email">
  </form>

  <div class="titleWrapper">
    <span class="titleNumber">2</span>
    <h3 class="title">Адреси</h3>
  </div>

  <div class="btn-wrapper">
    <button type="button" class="add-btn"> Додати адресу</button>
    <button type="submit" class="save-btn"> Зберегти зміни</button>
  </div>

</div>
