<div class="container">
  <ul class="list">
    <li class="list-item"  routerLinkActive="active" [ngClass]="{'active': activeTab === 'userData'}" (click)="click('userData')">
      <a [routerLink]="[ 'userData' ]">Особисті дані</a> 
    </li>
    <li class="list-item" routerLinkActive="active" [ngClass]="{'active': activeTab === 'orderHistory'}" (click)="click('orderHistory')">
      <a [routerLink]="[ 'orderHistory' ]">Історія замовлення</a> 
    </li>
  </ul>
  <button class="btn" (click)="logout()">Вихід</button>
</div>