@import "/src/app/shared/styles/variables";
@import "/src/app/shared/styles/mixins";

.container{
  width: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  user-select: none;
  &-item {
    list-style: none;
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
    border-right: 1px solid $gray;
    transition-duration: 0.1s;
    &-link{
      display: inline-block;
      text-decoration: none;
      color: $darkGrayText;
      width: 100%;
      height: 100%;
      padding: 20px 25px;
      cursor: pointer;
    }
  }
}
.btn{
  @extend %btnStyle;
  padding: 15px 30px;
  margin: 20px;
  background-color: $mainColor;
  &:hover{
    background-color: transparent;
  }
}

.active{
  border-top: 3px solid $mainColor;
  border-right: 1px solid transparent;
  font-weight: 700;
  color: $black;
}
.list-item{
  position: relative;
}
.list-item-callBack{
  content: '';
  display: inline-block;
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: 4px;
  top: 4px;
}